body {
    background-color: rgb(34, 34, 34);
}
h1 {

    border-bottom: 2px solid #423e3e;
}

header {
    color: #fafafa;
    font-size: 60px;
    text-align: center;
    background-color: rgb(61, 95, 30);

}

div {
background-color: rgb(201, 194, 189);
color: rgb(231, 59, 16);

}

footer {
font-size: 30px;
color: rgb(61, 95, 30);
text-align: center;
background-color: rgb(249, 250, 248); 
border: solid 4px;
border-color: rgb(61, 95, 30);
}

img {
opacity: 0.9;
margin: auto;
display: block;
}

nav {
    font-size: 25px;
}