h1{
    color: antiquewhite;
    text-align: center;
}
.col > p {
    text-decoration: wavy;
    color: red;
}
body{
    background-color: rgb(31, 4, 4);
}
.col > h2{
color: red;
text-decoration: double;
}
label{
    color: red;
}
.navbar-brand > img{
    width: 100px;
}
